.filter_search {
  background-color: orange;
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
  gap: 3rem;

  && input {
    padding: 0.6rem 1rem;
    width: 80%;
    font-size: 25px;
  }

  && h3 {
    padding: 0.6rem 1rem;
    width: 80%;
  }
}

.filter_categroy {
  background-color: yellow;
  margin: 10px;

  && .category_products {
    font-size: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;

    && button {
      border: none;
      background: transparent;
    }
  }

  && .company_products {
    background-color: violet;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;

    && button {
      border: none;
      background: transparent;
    }
  }
}
