.card {
  /* background-color: orange; */
  background-color: #f0ebe3;
  width: 100%;
  height: 50vh;
  margin-bottom: 10px;

  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}

figure {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  transition: all 0.5s linear;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 0.2s linear;
    cursor: pointer;
  }

  & img {
    max-width: 90%;
    margin-top: 1.5rem;
    height: 20rem;
    transition: all 0.2s linear;
  }

  &:hover::after {
    width: 100%;
  }
  &:hover img {
    transform: scale(1.2);
  }

  & .caption {
    background-color: white;

    position: absolute;
    top: 15%;
    right: 15%;
    text-transform: uppercase;
    padding: 0.1rem 1rem;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
  }
}

.card_data {
  /* background-color: red; */
  & .card_data__flex {
    /* display: flex;
    flex-direction: column; */
    padding: 1rem 2rem;
    /* margin-bottom: 10px; */
    text-transform: capitalize;

    & h3 {
      float: left;
    }

    & p {
      float: right;
      font-weight: 700;
      font-size: 20px;
    }
  }
}
