/* .container {
  background-color: #49243e;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-content: center;

  height: 150px;

  & h2,
  h3 {
    color: rgb(242, 231, 231);
  }

  & first_section {
    display: grid;
    place-content: center;
    gap: 2rem;
  }
} */

/* 
.contact_short {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.btn_footer {
  padding: 1.4rem 2.4rem;
  border: none;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;

  &:hover,
  &:active {
    box-shadow: 0 2rem 2rem 0 rgb(132 144 255/30%);
    transform: scale(0.96);
    -webkit-transform: scale(0.96);
    -moz-transform: scale(0.96);
    -ms-transform: scale(0.96);
    -o-transform: scale(0.96);
  }
}

a {
  text-decoration: none;
  color: rgb(255 255 255);
  font-size: 1.8rem;
} */

.contact_short {
  max-width: 60vw;
  height: 150px;
  margin: auto;
  padding: 50px 25px;
  /* padding: 5rem 10rem; */
  background-color: orange;
  border-radius: 1rem;
  box-shadow: 0 2rem 2rem 1 rgb(132 144 255/30%);

  transform: translateY(50%);

  & .gir_two_column {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
  }

  & .btn_footer {
    padding: 1rem 2.8rem;
    border: none;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    background-color: #074173;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;

    &:hover,
    &:active {
      box-shadow: 0 2rem 2rem 0 rgb(132 144 255/30%);
      transform: scale(0.96);
      -webkit-transform: scale(0.96);
      -moz-transform: scale(0.96);
      -ms-transform: scale(0.96);
      -o-transform: scale(0.96);
    }

    & .navlink {
      color: white;
      text-decoration: none;
      font-weight: 600;
    }
  }
}
