.cartItems_container {
  /* background-color: orange; */

  && .grid_five_cartItems {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5rem;

    && .cart_image__name {
      p {
        font-size: 25px;
      }
      && .image_and_name {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
      }
      && img {
        width: 150px;
        height: 100px;
      }
    }

    && .cart_price__div {
      padding: 50px;

      p {
        font-size: 25px;
      }
    }

    && .cart_amount__div {
      padding: 50px;
      font-size: 25px;
    }

    && .cart_subtotal__div {
      padding: 50px;
      font-size: 25px;
    }
  }
}

/* Selected colour product choose colour output */
.cart_colors__div {
  && .color_style {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    && .color_display {
      width: 1.5rem;
      height: 1.5rem;

      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
    }
  }
}
