/* Starting of CSS only for navbar links */
.navbar_lists {
  /* background-color: red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
  min-width: 10rem;
  list-style: none;

  & .navbar_link {
    /* background-color: green; */
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 500;
  }
}

.navbar_link:link .navbar_link:visited {
  display: inline-block;
  font-size: 1.8rem;
  font-weight: 500;
  text-transform: uppercase;

  transition: color 0.3s linear;
  -webkit-transition: color 0.3s linear;
  -moz-transition: color 0.3s linear;
  -ms-transition: color 0.3s linear;
  -o-transition: color 0.3s linear;
}

.navbar_link:hover .navbar_link:active {
  color: blue;
}
/* Ending of CSS only for navbar links */

/* Starting of Cart Trolley */
/* CSS for the cart trolley badge number */

.navbar_cart_trolley__link {
  position: relative;

  & .cart_trolley {
    position: relative;
    font-size: 2.5rem;
  }

  /* Cart Badge Css */
  & .navbar_cart_total__item {
    width: 2rem;
    height: 2rem;
    position: absolute;
    background-color: #000;
    color: #000;
    display: grid;
    place-items: center;
    top: -250%;
    left: 90%;
    background-color: yellow;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  }
}
/* Ending of Cart Trolley */

/* Starting of Responsive Mobile Button for Menu Open and Close */
.mobile_navbar_btn {
  /* Hiding both buttons for making responsive  */
  display: none;
  background-color: transparent;
  cursor: pointer;
  border: none;
}

.mobile_nav_icon .close-outline {
  /* Hiding both buttons for making responsive  */
  display: none;
}

.close_outline {
  /* Hiding both buttons for making responsive  */
  display: none;
}
/* Ending of Responsive Mobile Button for Menu Open and Close */

/* CSS for making responsive acc to mobile i.e, 768px and tablet i.e, 998px */

@media (width <= 768px) {
  .mobile_navbar_btn {
    display: inline-block;
    z-index: 9999;
  }

  .mobile_nav_icon {
    font-size: 4.2rem;
    color: green;
  }

  .active .mobile_nav_icon {
    display: none;
    font-size: 4.2rem;
    position: absolute;
    top: 30%;
    right: 10%;
    color: aqua;
    z-index: 9999;
  }

  .active .mobile_nav_icon__close_outline {
    display: inline-block;
    /* color: green; */
  }

  .navbar_lists {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    visibility: hidden;
    opacity: 0;
    transform: translateX(100%);
    transition: all 3s linear;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
  }

  .active .navbar_lists {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
    z-index: 999;
    transform-origin: right;
    transition: all 3s linear;

    .navbar_link {
      font-size: 4.2rem;
    }
  }
}

/* /////////////////////////////////////////////////////////////////////////////////////////////// */

/* 
.navbar_lists {
    display: flex;
    gap: 4.8rem;
    align-items: center;

    .navbar_link {

        &:link,
        &:visited {
            display: inline-block;
            text-decoration: none;
            font-size: 1.8rem;
            font-weight: 500;
            text-transform: uppercase;
            color: red;
            transition: color 0.3s linear;
        }

        &:hover,
        &:active {
            color: blue;
        }
    }
}

.mobile_navbar_btn {
    display: none;
    background-color: transparent;
    cursor: pointer;
    border: none;
}

.mobile_nav_icon[name="close-outline"] {
    display: none;
}

.close_outline {
    display: none;
} */

/* 
.cart_trolley__link {
    position: relative;

    .cart_trolley {
        position: relative;
        font-size: 3.2rem;
    }

    .cart_total__item {
        width: 2.4rem;
        height: 2.4rem;
        position: absolute;
        background-color: #000;
        color: #000;
        border-radius: 50%;
        display: grid;
        place-items: center;
        top: -20%;
        left: 70%;
        background-color: yellow;
    }
} */

/*
.user_login__name {
    text-transform: capitalize;
}

.user_logout,
.user_login {
    font-size: 1.4rem;
    padding: 0.8rem 1.4rem;
}
 */

/* @media(max-width: $ {
        ({
            theme
        })=>theme.media.mobile

}) {
    .mobile_navbar_btn {
        display: inline-block;
        z-index: 9999;

        border: $ {
            ({
                theme

            })=> {
            theme.colors.black
        }
    }

    ;

    .mobile_nav_icon {
        font-size: 4.2rem;
        color: green;
    }
}
 */

/* 
.active .mobile_nav_icon {
    display: none;
    font-size: 4.2rem;
    position: absolute;
    top: 30%;
    right: 10%;
    color: aqua;
    z-index: 9999;
}

.active .close_outline {
    display: inline-block;
}

.navbar_lists {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    visibility: hidden;
    opacity: 0;
    transform: translateX(100%);
    transition: all 3s linear;
}

.active .navbar_lists {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
    z-index: 999;
    transform-origin: right;
    transition: all 3s linear;

    .navbar_link {
        font-size: 4.2rem;
    }
}

.cart_trolley__link {
    position: relative;
    font-size: 5.2rem;
}

.cart_total__item {
    width: 4.2rem;
    height: 4.2rem;
    font-size: 2rem;
}


.user_logout,
.user_login {
    font-size: 2.2rem;
    padding: 0.8rem 1.4rem;
} */
