.main_header {
    background-color: orange;
    /* width: 100%; */
    padding: 0 4.8rem;
    height: 10rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}