.container {
  max-width: 120rem;
  margin: 0 auto;
}

.grid_two__columns {
  /* display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5rem; */

  display: grid;
  gap: 5.2rem;
  grid-template-columns: repeat(2, 1fr);
}

img {
  width: 500px;
  height: 300px;
}

.btn_shop__now {
  text-decoration: none;
  max-width: auto;
  background-color: rgb(98 84 243);
  color: rgb(255 255 255);
  padding: 1.4rem 2.4rem;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;

  border: none;
  text-align: center;

  &:hover,
  &:active {
    box-shadow: 0 2rem 2rem 0 rgb(132 144 255/30%);
    transform: scale(0.96);
    -webkit-transform: scale(0.96);
    -moz-transform: scale(0.96);
    -ms-transform: scale(0.96);
    -o-transform: scale(0.96);
  }

  a {
    text-decoration: none;
    color: rgb(255 255 255);
    font-size: 1.8rem;
  }
}
